/* Override Pure.css attributes */

.pure-button {
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;
}

.pure-form select {
	height: 1.9em !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.pure-radio {
	display: inline !important;
	vertical-align: middle;
}

/* Override Codemirror attributes */

.CodeMirror {
	font-size: 13px;
}

/* Font style */

option { font-family: inherit; }

/* Basic page style */

html {
	padding: 0 20px;
}

@media only screen and (min-width: 768px) {
	html {
		padding: 0 200px;
	}
}

body {
	line-height: 1.6;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

a:hover {
	color: #708;
}

h1 {
	text-align: center;
}

h2 {
	border-bottom: 1px solid #e5e5e5;
	color: #333;
	font-weight: normal;
	margin-bottom: 0.3em;
	padding: 0.3em 0;
}

textarea {
	resize: vertical;
	width: 100%;
}

footer {
	text-align: center;
	margin: 2em 0;
}

/* Schema input */

#schemaInput {
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 3px #ddd;
	box-shadow: inset 0 1px 3px #ddd;
	box-sizing: border-box;
	overflow-x: auto;
	width: 100%;
}

#schemaInput:focus-within {
	outline: 0;
	border-color: #129fea;
}

#schemaInput > .CodeMirror {
	background-color: transparent;
}

/* Output area */

#outputArea {
	box-sizing: border-box;
	font-size: 105%;
	overflow-wrap: break-word;
	text-align: justify;
}

.hidden {
	display: none;
}

/* Entry colors */

.entry-multiple { color: #708; }

.entry-multiple.unresolved { color: #00f; }

.entry-multiple .tooltip-item.selected { color: #00f; }

.entry-multiple .tooltip-item:hover { color: #0078e7; }

.entry-multiple .tooltip-item.selected:hover { color: #a11; }

/* Entry appearance */

.entry {
	display: inline-block;
	margin: 0 2px;
	padding-bottom: 6px;
}

.entry.entry-none {
	display: contents;
	white-space: pre-wrap;
}

.entry rt {
	font-size: 85%;
	margin: 2px 1px 5px 1px;
}

/* Tooltip appearance */

.entry .tooltip-container {
	background-color: rgba(255,255,255,0.95);
	border-radius: 4px;
	box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.37);
	box-sizing: border-box;
	border: 1px solid white;
	color: #333;
	padding-bottom: 2px;
	visibility: hidden;
}

.entry:hover .tooltip-container {
	visibility: visible;
}

.tooltip-container > .tooltip-item {
	display: block;
	margin: 2px 10px;
}

.tooltip-container > .tooltip-item .tooltip-ch {
	font-size: 125%;
}

/* Tooltip positioning */

#outputArea {
	position: relative;
}

.tooltip-container {
	left: 0;
	position: absolute;
	transform: translateY(2.5em);
	width: 100%;
	z-index: 5;
}

@media only screen and (min-width: 768px) {
	#outputArea .entry {
		position: relative;
	}

	.tooltip-container {
		bottom: 3.2em;
		left: 50%;
		transform: translateX(-200px);
		width: 400px;
	}
}
