/* IPA fonts */

@font-face {
  font-family: CharisSILW;
  src: url(https://cdn.ir.sgn.shn.hk/CharisSIL/CharisSIL-R.woff);
}

@font-face {
  font-family: CharisSILW;
  font-style: italic;
  src: url(https://cdn.ir.sgn.shn.hk/CharisSIL/CharisSIL-I.woff);
}

@font-face {
  font-family: CharisSILW;
  font-weight: bold;
  src: url(https://cdn.ir.sgn.shn.hk/CharisSIL/CharisSIL-B.woff);
}

@font-face {
  font-family: CharisSILW;
  font-weight: bold;
  font-style: italic;
  src: url(https://cdn.ir.sgn.shn.hk/CharisSIL/CharisSIL-BI.woff);
}

/* Override Pure.css attributes */

.pure-button {
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;
}

.pure-form select {
	height: 1.9em !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.pure-radio {
	display: inline !important;
	vertical-align: middle;
}

/* Override Codemirror attributes */

.CodeMirror {
	font-family: monospace, CharisSILW, 'Noto Serif KR', 'Noto Serif SC', HanaMin, monospace !important;
	font-size: 13px;
}

/* Font style */

/* 關於指定字型的説明：
1. 默認採用 Source Han Serif/Noto Serif CJK 系列字型，而不是使用系統的備援字型，這是由於排版時各 HTML 元素的尺寸是參照此系列字型設計的，故希望能將這些尺寸固定下來。如果更換了其他字型，這些尺寸也會發生變化。
2. 默認使用用户系統中已安裝的 Source Han Serif/Noto Serif CJK 系列字型。字形順序：韓國 > 中國大陸 > 日本 > 臺灣。若將來支援香港字形，則香港字形應指定於大陸之後、日本之前。
3. 若系統中找不到 Source Han Serif/Noto Serif CJK 系列字型，不應立即採用系統的備援字型，而是使用 web font 載入此系列字型。這是因為移動端往往缺少 serif 字型，若指定 serif，會回退至 sans-serif，對原有的網頁設計造成改變。
4. 使用 web font 時，單純地載入 Noto Serif KR 是錯誤的，因為 Noto Serif KR 缺少一些漢字的字圖（如「並」），這部分字需要借助 Noto Serif SC 補充。
5. HanaMin 字型為 web font，用於顯示生僻字（如「𥬇」），否則在移動端該字符會無法顯示，影響使用。
6. HanaMin 置於 serif 之後，這是希望如果系統的備援字型能顯示某個字符，則不加載 web font，從而減少網絡請求。
*/

body { font-family: "Source Han Serif K", "Noto Serif CJK KR", "Source Han Serif SC", "Noto Serif CJK SC", "Source Han Serif", "Noto Serif CJK JP", "Source Han Serif TC", "Noto Serif CJK TC", 'Noto Serif KR', 'Noto Serif SC', serif, HanaMin, serif; }

:lang(zh-Latn-x-output) { font-family: CharisSILW, serif; }

:lang(en-HK) { font-family: serif, serif, 'Noto Serif KR', 'Noto Serif SC', HanaMin, serif; }

option { font-family: inherit; }

/* Basic page style */

html {
	padding: 0 20px;
}

@media only screen and (min-width: 768px) {
	html {
		padding: 0 200px;
	}
}

body {
	line-height: 1.6;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

a:hover {
	color: #708;
}

h1 {
	text-align: center;
}

h2 {
	border-bottom: 1px solid #e5e5e5;
	color: #333;
	font-weight: normal;
	margin-bottom: 0.3em;
	padding: 0.3em 0;
}

textarea {
	resize: vertical;
	width: 100%;
}

footer {
	text-align: center;
	margin: 2em 0;
}

/* Schema input */

#schemaInput {
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 3px #ddd;
	box-shadow: inset 0 1px 3px #ddd;
	box-sizing: border-box;
	overflow-x: auto;
	width: 100%;
}

#schemaInput:focus-within {
	outline: 0;
	border-color: #129fea;
}

#schemaInput > .CodeMirror {
	background-color: transparent;
}

/* Output area */

#outputArea {
	box-sizing: border-box;
	font-size: 105%;
	overflow-wrap: break-word;
	text-align: justify;
}

.hidden {
	display: none;
}

/* Entry colors */

.entry-multiple { color: #708; }

.entry-multiple.unresolved { color: #00f; }

.entry-multiple .tooltip-item.selected { color: #00f; }

.entry-multiple .tooltip-item:hover { color: #0078e7; }

.entry-multiple .tooltip-item.selected:hover { color: #a11; }

/* Entry appearance */

.entry {
	display: inline-block;
	margin: 0 2px;
	padding-bottom: 6px;
}

.entry.entry-none {
	display: contents;
	white-space: pre-wrap;
}

.entry rt {
	font-size: 85%;
	margin: 0 2px;
}

/* Tooltip appearance */

.entry .tooltip-container {
	background-color: rgba(255,255,255,0.95);
	border-radius: 4px;
	box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.37);
	box-sizing: border-box;
	border: 1px solid white;
	color: #333;
	padding-bottom: 2px;
	visibility: hidden;
}

.entry:hover .tooltip-container {
	visibility: visible;
}

.tooltip-container > .tooltip-item {
	display: block;
	margin: 2px 10px;
}

.tooltip-container > .tooltip-item .tooltip-ch {
	font-size: 125%;
}

/* Tooltip positioning */

#outputArea {
	position: relative;
}

.tooltip-container {
	left: 0;
	position: absolute;
	transform: translateY(2.5em);
	width: 100%;
	z-index: 5;
}

@media only screen and (min-width: 768px) {
	#outputArea .entry {
		position: relative;
	}

	.tooltip-container {
		bottom: 3.2em;
		left: 50%;
		transform: translateX(-200px);
		width: 400px;
	}
}
