/* Font families */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&family=Noto+Serif+SC:wght@400;700&family=Noto+Serif+TC:wght@400;700&family=Old+Standard+TT:wght@400;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/hanamin@latest/HanaMin.min.css');
@import url('https://cdn.jsdelivr.net/gh/ayaka14732/syyon-vencie@6b08e67/charissil/CharisSIL.css');

:lang(en), :lang(zh) {
	font-family: "Old Standard TT", "Source Han Serif K", "Noto Serif CJK KR", "Source Han Serif SC", "Noto Serif CJK SC", "Source Han Serif", "Noto Serif CJK JP", "Source Han Serif TC", "Noto Serif CJK TC", "Noto Serif KR", "Noto Serif SC", "Noto Serif TC", serif, HanaMin, serif;
	font-language-override: "KOR";
}

:lang(och-Latn-fonipa) {
    font-family: CharisSILW, serif, serif;
}

:lang(en-x-code) {
	font-family: monospace, monospace, CharisSILW, "Source Han Serif K", "Noto Serif CJK KR", "Source Han Serif SC", "Noto Serif CJK SC", "Source Han Serif", "Noto Serif CJK JP", "Source Han Serif TC", "Noto Serif CJK TC", "Noto Serif KR", "Noto Serif SC", "Noto Serif TC", HanaMin, monospace;
	font-language-override: "KOR";
}

/* Override Pure.css attributes */

.pure-button {
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;
}

.pure-form select {
	height: 1.9em !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.pure-radio {
	display: inline !important;
	vertical-align: middle;
}

/* Override Codemirror attributes */

.CodeMirror {
	font-size: 13px;
}

/* Font style */

option { font-family: inherit; }

/* Basic page style */

html {
	padding: 0 20px;
}

@media only screen and (min-width: 768px) {
	html {
		padding: 0 200px;
	}
}

body {
	line-height: 1.6;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

a:hover {
	color: #708;
}

h1 {
	text-align: center;
}

h2 {
	border-bottom: 1px solid #e5e5e5;
	color: #333;
	font-weight: normal;
	margin-bottom: 0.3em;
	padding: 0.3em 0;
}

textarea {
	resize: vertical;
	width: 100%;
}

footer {
	text-align: center;
	margin: 2em 0;
}

/* Schema input */

#schemaInput {
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 3px #ddd;
	box-shadow: inset 0 1px 3px #ddd;
	box-sizing: border-box;
	overflow-x: auto;
	width: 100%;
}

#schemaInput:focus-within {
	outline: 0;
	border-color: #129fea;
}

#schemaInput > .CodeMirror {
	background-color: transparent;
}

/* Output area */

#outputArea {
	box-sizing: border-box;
	display: block;
	font-size: 105%;
	overflow-wrap: break-word;
	text-align: justify;
}

#outputArea h3, #outputArea p {
	margin: 0;
}

.hidden {
	display: none;
}

/* Entry colors */

.entry-multiple { color: #708; }

.entry-multiple.unresolved { color: #00f; }

.entry-multiple .tooltip-item.selected { color: #00f; }

.entry-multiple .tooltip-item:hover { color: #0078e7; }

.entry-multiple .tooltip-item.selected:hover { color: #a11; }

/* Entry appearance */

.entry {
	display: inline-block;
}

.entry.entry-none {
	display: contents;
	white-space: pre-wrap;
}

rt {
	font-size: 82.5%;
	margin: 3px;
}

/* Tooltip appearance */

.entry .tooltip-container {
	background-color: rgba(255,255,255,0.95);
	border-radius: 4px;
	box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.37);
	box-sizing: border-box;
	border: 1px solid white;
	color: #333;
	padding-bottom: 2px;
	visibility: hidden;
}

.entry:hover .tooltip-container {
	visibility: visible;
}

.tooltip-container > .tooltip-item {
	display: block;
	margin: 2px 10px;
}

.tooltip-container > .tooltip-item .tooltip-ch {
	font-size: 125%;
}

/* Tooltip positioning */

#outputArea {
	position: relative;
}

.tooltip-container {
	left: 0;
	position: absolute;
	transform: translateY(2.5em);
	width: 100%;
	z-index: 5;
}

@media only screen and (min-width: 768px) {
	#outputArea .entry {
		position: relative;
	}

	.tooltip-container {
		bottom: 2.6rem;
		left: 50%;
		transform: translateX(-200px);
		width: 400px;
	}
}

/* 私隱權政策 */

footer + .swal2-container > .swal2-popup {
	width: 64em;
}
