body { line-height: 1.6; }
a:link { border-bottom: 1px solid; color: inherit; text-decoration: none; }

:lang(en), :lang(zh) { font-family: Jomolhari, "Source Han Serif K", "Noto Serif CJK KR", "Source Han Serif SC", "Noto Serif CJK SC", "Source Han Serif", "Noto Serif CJK JP", "Source Han Serif TC", "Noto Serif CJK TC", "Noto Serif KR", "Noto Serif SC", "Noto Serif TC", serif, HanaMin, serif; font-language-override: "KOR"; }
:lang(och-Latn-fonipa) { font-family: CharisSILW, serif, serif; }
:lang(en-x-code) { font-family: monospace, monospace, CharisSILW, "Source Han Serif K", "Noto Serif CJK KR", "Source Han Serif SC", "Noto Serif CJK SC", "Source Han Serif", "Noto Serif CJK JP", "Source Han Serif TC", "Noto Serif CJK TC", "Noto Serif KR", "Noto Serif SC", "Noto Serif TC", HanaMin, monospace; font-language-override: "KOR"; }

.pure-button { padding-top: .2em; padding-bottom: .2em; }
.pure-form select { background-color: rgba(255,255,255,.5); padding-top: 0; padding-bottom: 0; height: 1.9em; }
.pure-form textarea { background-color: rgba(255,255,255,.5); }
.pure-form .pure-radio { display: inline-block; margin: 0; vertical-align: middle; }

.CodeMirror { background-color: rgba(255,255,255,.5); font-size: 13px; }

.large-tooltip-inner { background-color: rgba(255,255,255,.95); z-index: 10; }

.tingle-modal { background: rgba(0,0,0,.70); -ms-user-select: text; -webkit-user-select: text; user-select: text; }
@media (max-width :540px) {
  .tingle-modal__close { background-color: #f0f0e7; border-bottom: 1px solid #ccc; box-shadow: 0 1px 2px #aaa; }
  .tingle-modal__close svg * { fill: #5c5c5c; }
}
.tingle-modal-box__content p, .tingle-modal-box__content ul { color: #5c5c5c; }
.tingle-modal-box__content p a:link:hover { border-bottom: 1px solid black; color: initial; transition: .5s; }

nav { padding: 0 2em; }
nav h1 { font-size: 1.75rem; text-align: center; margin: 1.25rem 0; padding-bottom: 25px; border-bottom: 1px solid #ccc; }

.main-container { padding: 0 2em; }

.ruby-wrapper { display: inline-block; padding: 0 3px; }
ruby { margin: 0 3px; }
.ruby-wrapper ruby { margin: 0; }

textarea { resize: vertical; width: 100%; }
rt { font-size: 82.5%; }

#schemaInput {
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  box-shadow: inset 0 1px 3px #ddd;
  box-sizing: border-box;
  overflow-x: auto;
  width: 100%;
}

#schemaInput:focus-within {
  outline: 0;
  border-color: #129fea;
}

output {
  display: block;
  font-size: 105%;
  overflow-wrap: break-word;
  padding-bottom: 1em;
  white-space: pre-line;
}

output h3, output p { display: inline; }
.hidden { display: none; }

.entry-multiple { color: #708; }
.entry-multiple.entry-unresolved { color: #00f; }

.tooltip-item.selected { color: #00f; }
.tooltip-item:not(:only-child):hover { color: #0078e7; }
.tooltip-item.selected:hover { color: #a11; }
.tooltip-item { margin: 2px 10px; white-space: pre-line; }
.tooltip-ch { font-size: 125%; }

.tooltip-items-wrapper { padding-bottom: 3px; }

.ruby-wrapper { -ms-user-select: none; -webkit-user-select: none; user-select: none; }

h1 > span { border-bottom: 1px dashed #aaa; cursor: pointer; }
h1 > span:hover { color: #333; }
