/* Global style */
@font-face {
	font-family: 'MingLiU_HKSCS-ExtB';
	src:
		local('MingLiU_HKSCS-ExtB'),
		url(https://cdn.ir.sgn.shn.hk/Ming-Lt-HKSCS-ExtB.woff);
	unicode-range: U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D;
}

html {
	padding: 0 1em;
}

a {
	text-decoration: none;
	color: dodgerblue;
}

a:hover {
	color: deeppink;
}

@media only screen and (min-width: 600px) {
	html {
		padding: 0 200px;
	}
}

body {
	font-family: sans-serif, 'MingLiU_HKSCS-ExtB', sans-serif;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

textarea {
	font-family: inherit;
	resize: vertical;
	width: 100%;
}

.legend {
	display: block;
	width: 100%;
	padding: .3em 0;
	margin-bottom: .3em;
	color: #333;
	border-bottom: 1px solid #e5e5e5;
}

#schemaInput {
	border: 1px solid #ccc;
	box-sizing: border-box;
	overflow-x: auto;
	width: 100%;
}

footer {
	text-align: center;
}

/* Converter - Output area */

#outputArea {
	overflow-wrap: break-word;
	text-align: justify;
	position: relative;
	font-family: 'Source Han Serif K', 'Source Han Serif HC', 'Source Han Serif TC', 'Source Han Serif SC', serif, 'MingLiU_HKSCS-ExtB', serif;
	font-size: 105%;
}

#outputArea :lang(zh-Latn-HK) {
	font-family: serif, 'MingLiU_HKSCS-ExtB', serif;
}

#outputArea rt {
	font-size: 85%;
}

.entry {
	display: inline-block;
	margin-bottom: 6px;
}

@media only screen and (min-width: 600px) {
	.entry {
		position: relative;
	}
}

.entry-no {
	color: #cc3852;
}

.entry-multiple {
	color: orange;
}

.entry-multiple.unresolved {
	color: #c41fc4;
}

.entry rt {
	margin: 0 2px;
}

.hidden {
	display: none;
}

/* Converter - Tooltip style */

.entry:not(:hover) .tooltip-container {
	visibility: hidden;
}

.entry .tooltip-container {
	background-color: rgba(255,255,255,0.95);
	border-radius: 4px;
	box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.37);
	border: 1px solid white;
	color: #333;
	position: absolute;
	left: 0;
	width: calc(100vw - 3em);
	z-index: 5;
}

@media only screen and (min-width: 600px) {
	.entry .tooltip-container {
		bottom: 2.5em;
		left: 50%;
		margin-left: -200px;
		width: 400px;
	}
}

/* Converter - Selection */
.tooltip-item {
	margin: 0.25em 0.5em;
}

.tooltip-item::first-letter {
	font-size: 125%;
}

.entry-single .tooltip-item, .entry-multiple .tooltip-item.selected {
	color: DeepSkyBlue;
}

.entry-multiple .tooltip-item:hover {
	color: #cc3852;
}

.entry-multiple .tooltip-item.selected:hover {
	color: #00b0b0;
}
