name: Test

on:
  push:
    branches:
      - main
      - dev
      - dev-*
    paths-ignore:
      - "**.md"
      - "LICENSE"
  pull_request:
    branches:
      - main
      - dev
      - dev-*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install --frozen-lockfile
      - run: bun run test
